{% extends "dbApp/base.html" %}
{% block content %}
<div class="profile-container">
    <div class="profile-main">
        <h1>Saved Addresses</h1>
        <a href="{% url 'add_address' %}" class="btn btn-success mb-3">Add New Address</a>
        {% if addresses %}
            <ul>
            {% for address in addresses %}
                <li>
                  {{ address.address_line }}, {{ address.city }}, {{ address.state }}, {{ address.pincode }}, {{ address.country }}
                  <a href="{% url 'delete_address' address.id %}" class="btn btn-danger btn-sm">Delete</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No addresses saved yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
